<!DOCTYPE html>
<html>
<head>
  <title>Test3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" style='background-color:#3a94ca;'>
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style='color:white;'>
        <%= link_to 'Test', root_path %>
      </div>
    </div>
  </nav>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
